In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('wine.csv')

In [3]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
x=data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10]]

In [9]:
y=data.iloc[:,-1]

In [10]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [12]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
196,7.3,0.58,0.30,2.4,0.074,15.0,55.0,0.99680,3.46,0.59,10.2
1391,8.0,0.64,0.22,2.4,0.094,5.0,33.0,0.99612,3.37,0.58,11.0
966,9.0,0.38,0.41,2.4,0.103,6.0,10.0,0.99604,3.13,0.58,11.9
1167,8.2,0.33,0.39,2.5,0.074,29.0,48.0,0.99528,3.32,0.88,12.4
1520,6.5,0.53,0.06,2.0,0.063,29.0,44.0,0.99489,3.38,0.83,10.3
...,...,...,...,...,...,...,...,...,...,...,...
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9
1120,7.9,0.54,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1
259,10.0,0.31,0.47,2.6,0.085,14.0,33.0,0.99965,3.36,0.80,10.5
762,8.8,0.70,0.00,1.7,0.069,8.0,19.0,0.99701,3.31,0.53,10.0
27,7.9,0.43,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5

In [13]:
from sklearn.naive_bayes import GaussianNB

In [16]:
reg=GaussianNB()

In [17]:
reg.fit(x_train,y_train)

GaussianNB()

In [18]:
reg.predict(x_test)

array([5, 5, 6, 6, 8, 6, 5, 6, 5, 6, 7, 7, 7, 6, 5, 7, 5, 6, 7, 5, 6, 5,
       5, 6, 5, 5, 6, 7, 7, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 7, 7, 5, 5, 5,
       5, 7, 6, 5, 5, 5, 4, 6, 7, 7, 6, 5, 5, 5, 6, 5, 5, 4, 5, 6, 6, 5,
       4, 6, 6, 7, 7, 5, 6, 5, 7, 6, 5, 3, 5, 5, 6, 5, 6, 5, 6, 7, 6, 5,
       4, 6, 5, 5, 6, 5, 6, 5, 5, 6, 6, 7, 3, 7, 6, 5, 5, 5, 5, 6, 5, 7,
       6, 6, 7, 3, 5, 5, 6, 6, 5, 4, 5, 3, 5, 5, 5, 7, 6, 5, 3, 4, 5, 4,
       7, 3, 5, 6, 5, 6, 5, 7, 5, 5, 6, 5, 5, 7, 5, 5, 5, 6, 6, 7, 5, 3,
       7, 5, 7, 7, 5, 7, 7, 3, 7, 5, 5, 5, 7, 7, 3, 6, 6, 6, 5, 5, 5, 6,
       7, 7, 5, 5, 5, 7, 7, 6, 5, 3, 7, 7, 6, 5, 5, 5, 6, 5, 7, 5, 5, 7,
       5, 6, 5, 4, 5, 5, 5, 7, 6, 6, 6, 5, 4, 5, 7, 5, 5, 6, 6, 6, 5, 5,
       5, 5, 7, 5, 6, 6, 7, 6, 5, 5, 5, 5, 5, 6, 6, 7, 5, 5, 5, 5, 5, 6,
       5, 6, 6, 5, 5, 5, 7, 6, 5, 4, 5, 5, 7, 6, 7, 5, 5, 7, 6, 6, 5, 7,
       5, 5, 6, 6, 7, 5, 5, 5, 6, 5, 5, 7, 5, 6, 5, 5, 8, 5, 6, 5, 5, 5,
       6, 5, 6, 5, 5, 5, 7, 5, 7, 6, 7, 5, 5, 5, 5, 5, 7, 7, 6, 6, 5, 6,
       5, 5, 7, 4, 5, 5, 5, 7, 5, 6, 6, 6, 7, 7, 6, 6, 5, 6, 5, 5, 6, 6,
       6, 7, 5, 6, 6, 7, 7, 7, 5, 5, 5, 7, 7, 5, 7, 5, 5, 5, 5, 5, 5, 5,
       5, 6, 5, 5, 5, 5, 4, 5, 6, 7, 5, 5, 6, 4, 5, 5, 5, 5, 5, 5, 7, 5,
       7, 7, 3, 6, 5, 6, 6, 5, 5, 5, 5, 8, 5, 4, 6, 5, 7, 5, 5, 5, 7, 5,
       5, 5, 5, 5, 5, 5, 6, 7, 5, 6, 6, 7, 5, 5, 6, 3, 5, 7, 7, 5, 5, 7,
       5, 7, 7, 7, 4, 5, 6, 5, 5, 5, 6, 5, 5, 7, 6, 5, 5, 7, 7, 7, 7, 6,
       6, 5, 7, 5, 6, 3, 5, 5, 5, 7, 5, 5, 5, 7, 5, 5, 6, 7, 5, 6, 5, 5,
       7, 6, 7, 5, 6, 5, 4, 5, 5, 6, 6, 5, 7, 6, 7, 5, 6, 6], dtype=int64)

In [19]:
reg.score(x_test,y_test)

0.50625

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
reg2=RandomForestClassifier(n_estimators=1500,criterion='gini')

In [37]:
reg2.fit(x_train,y_train)

RandomForestClassifier(n_estimators=1500)

In [34]:
reg2.predict(x_test)

array([6, 5, 6, 6, 7, 6, 5, 6, 5, 6, 6, 6, 7, 6, 5, 7, 5, 6, 7, 5, 6, 5,
       5, 6, 5, 5, 5, 6, 7, 5, 5, 5, 6, 5, 5, 5, 5, 6, 7, 6, 6, 6, 5, 5,
       6, 6, 6, 5, 5, 5, 5, 6, 6, 6, 6, 6, 5, 5, 6, 5, 5, 6, 5, 7, 6, 5,
       6, 6, 6, 6, 7, 5, 6, 5, 6, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 7, 5,
       6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 7, 5, 6, 6, 5, 5, 5, 5, 6, 5, 8,
       6, 6, 7, 6, 5, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 6, 6, 5, 5, 6, 5, 5,
       6, 5, 5, 6, 5, 7, 5, 7, 6, 5, 6, 5, 5, 6, 5, 5, 5, 6, 6, 6, 5, 5,
       6, 5, 7, 6, 6, 6, 7, 5, 7, 6, 5, 5, 7, 6, 6, 6, 6, 6, 5, 5, 5, 6,
       7, 6, 5, 5, 6, 7, 6, 6, 6, 5, 6, 7, 6, 6, 6, 5, 6, 5, 6, 5, 5, 6,
       5, 6, 6, 5, 5, 5, 5, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 6, 5, 5, 7,
       5, 5, 5, 5, 6, 6, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6,
       5, 7, 6, 5, 5, 5, 6, 6, 5, 5, 7, 5, 7, 5, 6, 5, 5, 6, 6, 5, 5, 6,
       5, 5, 5, 6, 7, 5, 5, 6, 6, 6, 5, 6, 5, 5, 6, 5, 6, 5, 6, 6, 5, 5,
       5, 5, 6, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 7, 6, 6, 5, 6,
       6, 5, 6, 6, 5, 5, 6, 7, 6, 6, 7, 6, 5, 7, 5, 6, 6, 6, 6, 6, 7, 6,
       6, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 7, 6, 5, 6, 5, 5, 5, 5, 5, 5, 6,
       5, 5, 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 7, 5,
       6, 6, 6, 6, 5, 6, 6, 5, 5, 5, 5, 6, 5, 6, 6, 5, 7, 5, 5, 5, 6, 5,
       5, 6, 6, 5, 5, 4, 7, 6, 6, 6, 5, 6, 5, 6, 7, 6, 6, 7, 6, 5, 5, 7,
       5, 6, 7, 6, 5, 5, 6, 5, 6, 5, 6, 5, 5, 6, 6, 5, 5, 6, 6, 6, 6, 6,
       6, 5, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5, 5, 6, 5, 6, 6, 6, 5,
       7, 5, 6, 5, 6, 5, 5, 5, 5, 5, 6, 5, 6, 6, 6, 5, 7, 6], dtype=int64)

In [38]:
reg2.score(x_test,y_test)

0.6979166666666666